/*Иллюминатор*/

#ill {
	position: absolute;
	top: 0;
	left: 0;
}

.ill {
	width: 100%;
	height: 100vh;
	background: url(../img/ill1.jpg) no-repeat;
	background-size: cover;
	overflow-x: hidden;
	overflow-y: hidden;
}

input[type="checkbox"] {
	display: none;
}

#big:checked+.ill {
	animation-name: ill;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-direction: normal;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
}

label[for=big] {
	display: block;
	position: absolute;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

@keyframes ill {
	5% {
		transform: scale(1.3);
	}
	15%{transform: scale(1.5);}
		30% {transform: scale(1.7);}
		45% {transform: scale(2);}
		60% {transform: scale(2.4); opacity: 1}
		75% {transform: scale(2.8); opacity: 0;}
	90% {
		transform: scale(3);
		opacity: 0;
	}
	99% {
		width: 100vw;
		height: 100vh;
	}
	100% {
		opacity: 0;
		width: 0;
		height: 0;
	}
}

input[type=checkbox]:checked+label[for=big]>.ill {
	transform: scale(5);
	transition: all 5s;
	opacity: 0;
	z-index: -10;
	transform-origin: center center;
}

input[type=checkbox]:checked+label[for=big] {
	animation-fill-mode: forwards;
	animation: ill 7s;
}


/*Конец Иллюминатора*/

body {
	min-width: 100%;
	min-height: 100vh;
	font-family: 'Roboto Condensed', sans-serif;
	overflow-y: scroll !important;
}
img{
	max-width: 100%;
}
.noOverflow {
	overflow-y: hidden !important;
	overflow-x: hidden !important;
}
#ill {
	display: none;
}
.noOverflow #ill {
	display: block;
}
.ui-tabs .ui-tabs-panel {
	padding: 0;
}
.ui-tabs .ui-tabs-nav {
	padding: .2em .2em 0 .2em;
}
#tabs {
	padding: 0;
	margin: 0;
}
#tabs-1 {background: url(../img/canaveral_background.jpg) no-repeat top left / cover;}
#tabs-2 {background: url(../img/baikonur_background.jpg) no-repeat top left / cover;}
#tabs-3 {background: url(../img/kuru_background.jpg) no-repeat top left / cover;}
#tabs-4 {background: url(../img/vanderberg_background.jpg) no-repeat top left / cover;}
#tabs-5 {background: url(../img/see_launch_background.jpg) no-repeat top left / cover;}
.header {
	top: 4.5vh;
	position: relative;
	width: 100%;
}
/*Название космодрома*/

.title {
	font-weight: bold;
}

.title_left {
	font-size: 3rem;
	flex-basis: 30%;
	padding-left: 1%;
	align-content: space-between;
	color: #6600CC;
	box-sizing: border-box;
	position: relative;
	top: 20px;
	display: inline;
}
.title_left_baikonur {
	color: #9999FF;
}
/*Навигация*/

.nav {
	flex-basis: 70%;
	padding-right: 0.7%;
	align-content: space-between;
}
.nav_right {
	float: right;
}
ul.nav_right li {
	display: inline-block;
}
.nav_right__current {
	background-color: #695FF1;
	pointer-events: none;
	cursor: default;
}
li a {
	display: inline-block;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	background: #E0DEF7;
	color: #0D0D17;
	padding: 1rem 1rem;
	border-radius: 5px;
  -webkit-transition: all 0.3s ease;;
  -moz-transition: all 0.3s ease;;
  -o-transition: all 0.3s ease;;
  transition: all 0.3s ease;
}
.ui-tabs-active a,
.nav li a:hover {
	background: #695ff1;
}
.content {
	display: flex;
	width: 100%;
	min-height: 65vh;
	margin-top: 15vh;
	margin-bottom: 7vh;
}

/*Описание космодрома*/

.description {
	margin-left: 1%;
}
.description p{
    padding-bottom: 20px;
    line-height: 18px;
}
.description_canaveral {
	flex-basis: 40%;
	font-size: 1.2rem;
	padding: 5vh 2%;
	box-sizing: border-box;
	border-radius: 5px;
	background-color: rgba(204, 204, 255, 0.6);
}
.description_baikonur {
	flex-basis: 40%;
	margin-left: 1%;
	font-size: 1.2rem;
	padding: 5vh 2%;
	box-sizing: border-box;
	border-radius: 5px;
	background-color: rgba(204, 204, 255, 0.6);
}

/* График пусков*/

.schedule {
	display: flex;
	flex-basis: 60%;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 5vh 0;
	background-color: rgba(204, 204, 255, 0.5);
	margin: 0 1% 0 7.9%;
	border-radius: 5px;
	box-sizing: border-box;
}

.data {
	flex-basis: 33%;
	height: auto;
	min-height: 33%;
	padding: 0 2%;
	border-right: 1px solid #808080;
	box-sizing: border-box;
	position: relative;
}
.data:nth-child(3),
.data:nth-child(6),
.data:nth-child(9) {
	border: none;
}
.data p {
	text-align: center;
	font-size: 1.1rem;
	line-height: 21px;
}
.data a {
	display: block;
	position: absolute;
	bottom: 12%;
	right: 50%;
	transform: translate(50%, 50%);
	padding-bottom: 4vh;
	font-size: 1.2rem;
}
.data a:hover{
	text-decoration: none;
}
.data a:visited {
	color: #0000FF;
}

.hidden_fancybox {
	display: none;
	border-radius: 5px;
}

.hidden_fancybox_data {
	border-radius: 5px;
	width: 40%;
	height: auto;
	position: relative;
	bottom: 0;
	left: 0;
	background-color: #E0DEF7;
}

.hidden_fancybox_data p span {
	font-weight: bold;
}

.hidden_fancybox_data p:nth-child(4) {
	padding-top: 2%;
}

.fancybox-close-small:hover::after {
	background-color: #695FF1;
	color: black;
}


/* галерея*/

.gallery__canaveral {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	margin-bottom: 7vh;
}

.gallery__canaveral_foto {
	flex-basis: 18%;
}
.gallery__canaveral img {
	max-width: 100%;
	height: auto;
	border-radius: 5px;
	filter: grayscale(65%);
}

.gallery__canaveral img:hover {
	filter: grayscale(0%);
	cursor:pointer;
}

.map_canaveral {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: auto;
	width: 100%;
	min-height: auto;
	border-radius: 5px;
}

iframe {
	width: 100%;
}

.sea_launch_schedule {
	text-align: center;
	margin: auto auto;
	font-size: 2.5rem;
	padding: 0 5%;
}


/* ----------- Mobile ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
	.ill {
	width: 100%;
	height: 100vh;
	background: url(../img/ill1.jpg) no-repeat;
	background-size: contain;
	overflow-x: hidden;
	overflow-y: hidden;
	}
	#tabs-1, #tabs-2, #tabs-3, #tabs-4, #tabs-5 {
		background: none;
		clear: both;
	}
	.header {
    	top: .5vh;
	}
	.ui-tabs .ui-tabs-nav {
     padding: .2em .59em .2em .59em;
	}
	.description_canaveral, .gallery__canaveral_foto{
		margin:.2em .59em .2em .59em;
	}
	.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
		width: 97%;
		margin: 0.5vh 0;
		padding: 3vh 2%;
		text-align: center;
	}
	.nav {
		float: none;
	}
	.title_left {
		margin: 0 auto;
		font-size: 2rem;
		display: block;
    	text-align: center;
    	padding-bottom: 5%;
    }
    .title_left_baikonur {
	color: #6600CC;
}
	ul.nav_right li {
		display: block;
		width: 100%;
	}

	.content {
		flex-direction: column;
		margin-top: 5vh;
		margin-bottom: 0;
	}
	.description {
	margin-left: 0;
}
	.description_canaveral {
		padding: 5vh 5%;
		margin: .2em .59em .2em .59em;
		font-size: .8rem;
    	line-height: 1rem;
	}
	.data p {
		padding-bottom: 2vh;
		font-size: .8rem;
	}
	.schedule {
		margin:.2em .59em .2em .59em;
		flex-direction: column;
	}
   .schedule .data {
		width: 100%;
		min-height: auto;
		margin: 2% 0;
		border-right: none;
	}
	.data a {
    	display: block;
    	position: relative; 
    	bottom: 12%;
    	right: 0%;
    	transform: none;
    	padding-top: 1%; 
    	padding-bottom: 4vh;
    	font-size: .8rem;
    	text-align: center;
	}
	.hidden_fancybox_data {
		width: 82%;
		position: relative;
		bottom: 15vh;
		left: 0;
	}
	.sea_launch_schedule {
    font-size: 1.5rem;
}

	.gallery__canaveral {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-bottom: 2vh;
	}
	.gallery__canaveral_foto {
	max-width: 100%;
	}
	.gallery__canaveral img {
	filter: none;
}
}


/* ----------- iPad mini ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	body{background-color: rgba(204, 204, 255, 0.5);}
	#tabs-1, #tabs-2, #tabs-3, #tabs-4, #tabs-5 {
		background: none;
	}
	.header{
		top:2vh;
	}
	.title_left {
		margin: 0 auto;
		font-size: 2rem;
		display: block;
    	text-align: center;
    	padding: 3% 0;
    	clear: both;
    }
    .ui-tabs .ui-tabs-nav{
    	width: 100%;
    }
    .nav_right {
      text-align: center;
      float: none;
    }
    .ui-tabs .ui-tabs-nav li{float: none;}
    .nav{padding:0;}
	.nav li a{
		font-size: .8rem;
	}
	.title_left {
		margin: 0 auto;
		position: relative;
		left: 0;
	}
	    .title_left_baikonur {
	      color: #6600CC;
}
	.content {
		font-size: .8rem;
		margin-top:3vh;
		margin-bottom: 3vh;
		min-height: 47vh;
	}
	.description_canaveral, .description_baikonur {
		margin: 0 2%;
		font-size: .8rem;
		padding: 3vh 2%;
	}
	.schedule {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin: 0 2% 0 .9%;
		padding: 3vh 0;
		font-size: .8rem;
	}
	.data {
		flex-basis: 50%;
		min-height: 14vh;
		font-size: .8rem;
	}
	.data p,.data a{
		font-size: .8rem;
	}
	.data a {
	display: block;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(50%, 50%);
    padding-bottom: 4vh;
	}
	.data_kuru a {
	display: block;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(50%, 50%);
    padding-bottom: 4vh;
	}
	.data p {
		line-height: 1.5;
	}
	.data:nth-child(1),
	.data:nth-child(3),
	.data:nth-child(5),
	.data:nth-child(7){
		border-right: 1px solid #808080;
	}
	.data:nth-child(2),
	.data:nth-child(4),
	.data:nth-child(6),
	.data:nth-child(8){
		border: none;
	}
	.hidden_fancybox_data {
		width: 85%;
		position: relative;
		bottom: 32%;
		left: 0;
	}
	.gallery__canaveral {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
	}
	.gallery__canaveral_foto {
		flex-basis: 46%;
		margin: 1vh 0;
	}
	.gallery__canaveral img {
	filter: none;


}